# Ignore node_modules directory
node_modules/
test/

# Ignore log files
*log/

#ignore some extra folders
config/*

# sequelize/*
uploads/*
public/*

# Ignore build directories
dist/
# build/

#Ignore environment variables files
.env

# Ignore system files
# .DS_Store
# Thumbs.db


# Ignore IDE/editor config files
.vscode/
# .idea/
# *.suo
# *.ntvs*
# *.njsproj
# *.sln
# *.sw?